.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: floralwhite;
  border: 1px solid lightgray;

}
.text-white {
  font-size: 50px;
}
.btn-primary {
  width: 150px;
  height: 48px;
  
  background-color: plum;
  border: 1px solid plum;
  border-radius: 12px;
  margin-top: -20px;
}


.my-5 {
  margin-top: 20px;
}
.active {
  margin-left: 20px;
}
.main-model {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 30px;
  height: 350px;
}
.model-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.btn2 {
  width: 100%;
  height: 48px;
  background-color: floralwhite;
  border: 1px solid floralwhite;
  border-radius: 12px;
}

.form {
  margin-bottom: 20px;
}
.input1 {
  width: 85%;
  height: 35px;
  padding: 0 20px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 12px;
}

.inactive:hover {
	color : magenta;
}


.active:hover {
	color : magenta;
}

.list-group-flush{
  list-style-type: circle;
}

.todo-title{
  font-size: 18px;
  width : 200px;
	text-align : left;
}

.list-group-flush li{
  margin-bottom: 7px;

}

.btn-secondary{
  margin-right: 3px;
  margin-left: 5px;
  text-align : right;
}

